/* Stylesheet by Greg Grube, 2020 */
 #mapid {
    height: 700px;
    width: 75%;
    display: inline-block;
}

.sequence-control-container {
    width: 300px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 170px;
    height: 130px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 0px;
    line-height: 55px;
    text-align: center;
    border: solid gray 1px;
}

.text-control-container {
    width: 200px;
    height: 130px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 0px;
    line-height: 55px;
    text-align: center;
    border: solid gray 1px;
}

#panel {
    width: 23%;
    height: 680px;
    padding: 10px;
    background-color: rgba(255,255,155,0.8);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
}

#text {
    width: 90%;
    height: 660px;
    padding: 10px;
    background-color: rgba(155,255,155,0.8);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
}

#text2 {
    width: 90%;
    height: 250px;
    padding: 5px;
    background-color: rgba(155,155,155,0.8);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.menu-ui {
  background:#fff;
  position:absolute;
  top:20px;right:350px;
  z-index:1;
  border-radius:3px;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }

  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }

    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }

    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }

    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }

    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#3887BE;
      color:#FFF;
      }